<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TakiCalc</title>
</head>
<body>

<h2>
    Calculate your property's value:
</h2>
<form action="/calculate" method="post">
    Langitude:<br>
    <input type="text" name="langitude" value="latitude"><br>
    Longitude:<br>
    <input type="text" name="longitude" value="longitude"><br><br>
    Square meter:<br>
    <input type="text" name="longitude" value="sqmeter"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>